{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
<body class="is-preload">
		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-paper-plane-o"></span>
				<h1>AppliStage</h1>
				<p>Un site repertoriant toutes les entreprises de la région afin que vous puissiez trouver votre stage facilement</p>
				<p>Le site a été fait par SADOUS Gaëtan et HOURDEL Nicolas en utilisant le template HTML5UP Directive.</p>
			</div>
		<!-- Main -->
			<div id="main">

				<div class="box container large">
					<section>
						<header>
							<h3>Liste des entreprises</h3>
						</header>
						<div class="table">
							<table class="default">
								<thead>
									<tr>
										<th>Nom</th>
										<th>Ville</th>
										<th>Code Postal</th>
										<th>Adresse</th>
										<th>Telephone</th>
										<th>Activite</th>
										<th>Active</th>
										<th>Places restantes</th>

    									{% if is_granted('ROLE_USER') %}
												<th>Déclarer un Stage</th>
    									{% endif %}

									</tr>
								</thead>
								<tbody>
                                {% for i in entreprises %}
                                    <tr>
                                        <td>{{ i.nom }}</td>
                                        <td>{{ i.ville }}</td>
                                        <td>{{ i.cp }}</td>
                                        <td>{{ i.adresse }}</td>
										<td>{{ i.tel }}</td>
										<td>{{ i.activite }}</td>
										<td>{{ i.active }}</td>
										<td>{{ i.resteplace }}</td>

                                        {% if is_granted('ROLE_USER') %}
											<td><a class="button small" href="{{path('declarerStage')}}">Déclarer un Stage</a></td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                                </tbody>
							</table>
						</div>
					</section>
					</div>
			</div>
</body>
{% endblock %}